#Chinese-size{
    font-size:16px;
}

.navbar-toggler{
    border:none;
}

.dropdown:hover>.dropdown-menu{
    display: block;
}

.jumbotron{
    background-color:cornsilk;
}

#facebook{
    color:rgb(24, 119, 242);
}
#instagram{
    color:rgb(225, 48, 108);
}
#youtube{
    color:rgb(255, 0, 0);
}
