*{
    -webkit-touch-callout:none; /*系統預設選單被禁用*/
    -webkit-user-select:none; /*webkit瀏覽器*/
    -khtml-user-select:none; /*早期瀏覽器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}
input,textarea {
    -webkit-user-select:auto; /*webkit瀏覽器*/
    margin: 0px;
    padding: 0px;
    outline: none;
}

#Chinese-size{
    font-size:16px;
}

.navbar-toggler{
    border:none;
}

/* .dropdown:active>.dropdown-menu{
    display: block;
} */

.jumbotron{
    background-color:cornsilk;
}

#banner{
    height:350px;
}

#facebook{
    color:rgb(24, 119, 242);
}
#instagram{
    color:rgb(225, 48, 108);
}
#youtube{
    color:rgb(255, 0, 0);
}

.all_keyboard{
    transform:scale(1.1,1.1);
    position: relative;
}
.keyboard{
    background-color:#E83E4C;
    width:320px;
    height:180px;
    border-radius: 5.625% / 10%;
}

#white_key_C{
    position: relative;
    left:46px;
    top: 55px;
    background-color:whitesmoke;
    width:30px;
    height:120px;
    border-radius: 0 0 5% 5%;
    transition: 0.2s;
}

#white_key_D{
    position: relative;
    left:79px;
    bottom:65px;
    background-color:whitesmoke;
    width:30px;
    height:120px;
    border-radius: 0 0 5% 5%;
    transition: 0.2s;
}

#white_key_E{
    position: relative;
    left:112px;
    bottom:185px;
    background-color:whitesmoke;
    width:30px;
    height:120px;
    border-radius: 0 0 5% 5%;
    transition: 0.2s;
}

#white_key_F{
    position: relative;
    left:145px;
    bottom:305px;
    background-color:whitesmoke;
    width:30px;
    height:120px;
    border-radius: 0 0 5% 5%;
    transition: 0.2s;
}

#white_key_G{
    position: relative;
    left:178px;
    bottom:425px;
    background-color:whitesmoke;
    width:30px;
    height:120px;
    border-radius: 0 0 5% 5%;
    transition: 0.2s;
}

#white_key_A{
    position: relative;
    left:211px;
    bottom:545px;
    background-color:whitesmoke;
    width:30px;
    height:120px;
    border-radius: 0 0 5% 5%;
    transition: 0.2s;
}

#white_key_B{
    position: relative;
    left:244px;
    bottom:665px;
    background-color:whitesmoke;
    width:30px;
    height:120px;
    border-radius: 0 0 5% 5%;
    transition: 0.2s;
}

#black_key_Db{
    position: relative;
    left: 67.5px;
    bottom:785px;
    background-color: black;
    width:20px;
    height:80px;
    border-radius: 0 0 10% 10%;
    transition: 0.2s;
}

#black_key_Eb{
    position: relative;
    left: 100.5px;
    bottom:865px;
    background-color: black;
    width:20px;
    height:80px;
    border-radius: 0 0 10% 10%;
    transition: 0.2s;
}

#black_key_Gb{
    position: relative;
    left:166.5px;
    bottom:945px;
    background-color: black;
    width:20px;
    height:80px;
    border-radius: 0 0 10% 10%;
    transition: 0.2s;
}

#black_key_Ab{
    position: relative;
    left:199.5px;
    bottom:1025px;
    background-color: black;
    width:20px;
    height:80px;
    border-radius: 0 0 10% 10%;
    transition: 0.2s;
}

#black_key_Bb{
    position: relative;
    left:232.5px;
    bottom:1105px;
    background-color: black;
    width:20px;
    height:80px;
    border-radius: 0 0 10% 10%;
    transition: 0.2s;
}

.card-deck{
    margin-top:30px;
    margin-bottom:30px;
    margin-right:30px;
    margin-left:30px;
}
