*{
    -webkit-touch-callout: none; /*系統預設選單被禁用*/
    -webkit-user-select: none; /*webkit瀏覽器*/
    -khtml-user-select: none; /*早期瀏覽器*/
    -moz-user-select: none;/*火狐*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}
input,textarea {
    -webkit-user-select: auto; /*webkit瀏覽器*/
    margin: 0px;
    padding: 0px;
    outline: none;
}

#Chinese-size{
    font-size: 16px;
}
.navbar-toggler{
    border: none;
}

/* .dropdown:active>.dropdown-menu{
    display: block;
} */

.jumbotron{
    background-color: cornsilk;
}
#banner{
    height: 350px;
}

#facebook{
    color: rgb(24, 119, 242);
}
#instagram{
    color: rgb(225, 48, 108);
}
#youtube{
    color: rgb(255, 0, 0);
}

.card-deck{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5%;
    margin-left: 5%;
}
